/* Global styles */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
  /* Header styles */
  header {
    background-color: #002D62;
    color: #fff;
    padding: 1rem;
  }
  
  header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
  }
  
  header nav ul li {
    margin: 0 1rem;
  }
  
  header nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Footer styles */
  footer {
    background-color: #002D62;
    color: #fff;
    padding: 1rem;
    text-align: center;
  }